// Testimonials
$testimonial-bg: rgb(201 211 215 / 1);
$testimonial-title: #171b27;
$testimonial-card-bg: rgba(255, 255, 255, 0.5);
$testimonial-card-border: rgba(255, 255, 255, 0.6);
$testimonial-avatar-bg: #ffffff;
$testimonial-avatar-border: #000000;
$testimonial-role: rgb(102, 119, 151);
$pattern-gray: #888888;
$pattern-pink: #f453e4;
$pattern-blue: #0f76d3;
$pattern-white: #ffffff;

// Footer 
$footer-bg: #0f172a;
$footer-text: #94a3b8;
$footer-text-muted: rgb(132, 145, 171);
$footer-white: #ffffff;
$footer-border: #94a3b867;